
snippet understanding-c
	---
  date: `system("date +%m-%d-%y")`
	topic: 
	tags:
		- cs
		- cs211
		- "#Cpp"
		- C
	backlink: "[[Understanding C Pointers]]"
	---

	# ${1}
	- ${2}

snippet blok
	\`\`\`c
	${1}
	\`\`\`
